body{
	background-color: #B8F7FC;
}
h1,h2,h3,h4{
	color: #ED7CA7;
}
a, a:hover{
	color: #ED7CA7;
}
a:hover{
	text-decoration: none;
}
#navbar{
	background-color: #FFB7DE;
}
#navbar a{
	color: #333;
}
#navbar .active a{
	background-color: #ED7CA7;
}
.page-home #views-bootstrap-grid-1 .row{
	margin-bottom: 4em;
}
.page-home #views-bootstrap-grid-1 .views-field.views-field-field-description{
	margin-top: 1em;
	padding-right: 10em;
}
.node-type-cupcake .container .col-right > div{
	padding: 6px 0;
}
.node-type-cupcake .container .col-right > button{
	margin: 15px 0;
	padding: 15px 25px;
}
.cart .items{
	margin-bottom: 12px;
}
.cart .items .item img{
	margin-right: 8px;
}